@inherits LayoutComponentBase

<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        @if (!_menuOpen)
        {
            <LogoLink/>
        }
        <MudSpacer/>
        <a href="https://www.buymeacoffee.com/thewads" style="margin-top: 0.4rem;">
            <img src="images/bmac.png" style="width:10rem;" alt="Buy me a coffee link"/>
        </a>
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/Thewads/MiniPaintHelper" Target="_blank"/>
    </MudAppBar>
    <MudDrawer @bind-Open="@_menuOpen" Elevation="1">
        <MudDrawerHeader>
            <LogoLink />
        </MudDrawerHeader>
        <NavMenuContent />
    </MudDrawer>
    <MudMainContent>
            @Body
    </MudMainContent>
</MudLayout>

@code {
    bool _isDarkMode;
    bool _menuOpen = true;
    MudThemeProvider _mudThemeProvider = default!;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = await _mudThemeProvider.GetSystemPreference();
            StateHasChanged();
        }
    }
    
    void ToggleDrawer()
    {
        _menuOpen = !_menuOpen;
    }
}