@using Microsoft.AspNetCore.Components
@using Services
@using Services.Models
@inject IBrandService BrandService
@inject IColorService ColorService


<MudSelect Style="min-width: 20rem; max-width:30rem;" T="string" MultiSelection="true" SelectAll="true" 
           SelectAllText="Select all paint ranges" 
           @bind-Value="Value" 
           Label="Paint Ranges" 
           AdornmentIcon="@Icons.Material.Filled.Search"
           SelectedValuesChanged="PaintRangeSelectionChanged">
    @foreach (var brand in Brands)
    {
        <MudSelectItem T="string" Value="@brand">@brand</MudSelectItem>
    }
</MudSelect>

<MudSimpleTable Style="width: 90%">
    <thead>
    <tr>
        <th>Brand</th>
        <th>Name</th>
        <th>Sample</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var paint in ReturnedPaints)
    {
        <tr>
            <td>@paint.Brand</td>
            <td>@paint.Name</td>
            <td style="background-color: rgb(@paint.Rgb.R, @paint.Rgb.G, @paint.Rgb.B)"></td>
        </tr>
    }
    </tbody>
</MudSimpleTable>


@code {
    
    private IList<Paint> ReturnedPaints { get; set; } = new List<Paint>();
    private IList<string> Brands { get; set; } = new List<string>();
    private IEnumerable<string> SelectedBrandFilters { get; set; } = new HashSet<string>();
    private PaintRetrievalMode _currentMode = PaintRetrievalMode.Closest;
    private int _lastR;
    private int _lastG;
    private int _lastB;
    private string Value { get; set; } = "Nothing selected";
    
    protected override async Task OnInitializedAsync()
    {
        Brands = await BrandService.GetBrands();

        SelectedBrandFilters = Brands;
    }
    
    public async void GetPaintsFromColor(int r, int g, int b, PaintRetrievalMode mode = PaintRetrievalMode.Closest)
    {
        _currentMode = mode;
        _lastR = r;
        _lastG = g;
        _lastB = b;
        
        if(_currentMode == PaintRetrievalMode.Closest)
            ReturnedPaints = await ColorService.GetClosestPaints(_lastR, _lastG, _lastB, SelectedBrandFilters.ToList());
        else
            ReturnedPaints = await ColorService.GetContrastingPaints(_lastR, _lastG, _lastB, SelectedBrandFilters.ToList());
            
        StateHasChanged();
    }

    private void BrandFilterChanged()
    {
        GetPaintsFromColor(_lastR, _lastG, _lastB, _currentMode);
    }

    private void PaintRangeSelectionChanged(IEnumerable<string> obj)
    {
        SelectedBrandFilters = obj;
        BrandFilterChanged();
    }
    
    public enum PaintRetrievalMode
    {
        Closest,
        Contrasting
    }
}